# Le variabili d'ambiente hanno priorità sul file config.json

# URL base del sito anime
ANIMEWORLD_BASE_URL=https://www.animeworld.ac

# User-Agent per le richieste HTTP
ANIMEWORLD_USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/132.0.0.0 Safari/537.36
